
@{ 
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

           <div class="container">
                <div class="row">
                    <section id="slide">
                        <div class="owl-carousel slide-home">

                        </div>
                    </section>
                    <section class="home-box">
                        <div class="container">
                            <div class="row">
                                <div class="main-title">Giao hàng nhập LCL</div>
                                <ul class="list-home-box">

                                    <li class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="bg-li">
                                            <div class="hm-reponsive">
                                                <a href="@Url.Action("Index","LenhOnline")" title="Lệnh online">
                                                    <img src="~/Areas/Data/ResizeImage/images/page/anh-glcx500x500x4.jpg" title="Lệnh online" alt="Lệnh online" />
                                                </a>
                                            </div>
                                            <div class="name_title"><a href="@Url.Action("Index","LenhOnline")" title="Lệnh online">Lệnh online</a></div>
                                        </div>
                                    </li>

                                    <li class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <div class="bg-li">
                                            <div class="hm-reponsive">
                                                <a href="@Url.Action("Index","KiemTraHangNhap")" title="Kiểm tra hàng nhập">
                                                    <img src="~/Areas/Data/ResizeImage/images/page/anh-glcx500x500x4.jpg" title="Kiểm tra hàng nhập" alt="Kiểm tra hàng nhập" />
                                                </a>
                                            </div>
                                            <div class="name_title"><a href="@Url.Action("Index","KiemTraHangNhap")" title="Lệnh online">Kiểm tra hàng nhập</a></div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </section>
                    <section class="pt-section-sapo">
                        <div class="container">
                            <div class="row">
                                <div class="main-title"><a href="dang-ky.html">Đăng ký</a></div>
                                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                    <div class="txt-sapo">“Be professional to serve”</div>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                                    <div class="txt-sapo">Tải file đăng ký tài khoản</div>
                                    <ul class="txt-register">
                                        <li>
                                            <a href="~/Areas/Data/upload/files/Mau-dang-ky-dich-vu-%20E-%20Warehouse-GLC-doanh-nghiep.doc" target="_blank" rel="nofollow">Khách hàng Cá nhân</a>
                                        </li>
                                        <li>
                                            <a href="~/Areas/Data/upload/files/Mau-dang-ky-dich-vu-%20E-%20Warehouse-GLC-doanh-nghiep.doc" target="_blank" rel="nofollow">Khách hàng Doanh nghiệp</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
      

