
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">


        <section class="home-box">
            <div class="container">
                <div class="row">
                    <div class="main-title">Hướng dẫn </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="postentry">
                            <h1><span style="font-size:20px;">Click vào đường link --><a href="~/Areas/Data/upload/files/HUONG%20DAN%20EWAREHOUSE.docx" style="color:blue">  Hướng dẫn thủ tục và thanh toán online Ewarehouse </a></span></h1>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

